body{
  background-color: #F3E5AB;
}
.navbar-default{
  background-color: #DCEDC8;
  width: 1000px;
  margin-left: 220px;
  margin-top: 15px;
}
.border{
  border-style: solid;
  border-color: #DCEDC8;
  border-width: 10px;
}
.main{
  margin-top: -20px;
  width: 1000px;
  /*background-color: #DCEDC8;*/
}
.location li{
  list-style: none;
  float: left;
}
.pic{
  margin-left: -15px;
}
.list li{
  list-style: none;
}
.btn-basic{
  background-color: #DCEDC8;
}
.logo{
  font-family: cursive;
  font-size: 25px;
  font-weight: bold;
}
