body{
  background-color: #cfb53b;
}
.navbar-default{
  background-color: #002323;
  color: gray;
}
.navbar-default a{
  color: #cfb53b !important;
}
.tagline{
  text-align: right;
}
.main{
  margin-top: -20px;
  width: 1000px;
}
.location li{
  list-style: none;
  float: right;
  margin-top: -30px;
}
.pic{
  margin-left: -15px;
}
.list li{
  list-style: none;
}
.btn-basic{
  background-color: white;
}
.logo{
  font-family: cursive;
  font-size: 25px;
  font-weight: bold;
}
